
@font-face {
    font-family: "font";
    src: url("font.woff?t=1647321424845") format("woff")
}

.Icon {
    font-family: 'font' !important;
    font-size: initial;
    font-style:normal;
    display:inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.IconAddFile:before { content: "\ea01" }
.IconArrowDown:before { content: "\ea02" }
.IconEmail:before { content: "\ea03" }
.IconTask:before { content: "\ea04" }
